---
const {variant, overskrift, beskrivelse, pris, status, link, } = Astro.props;
---

<div class={variant}>
    <div class="card_flex">
        <img class="src/assets/test.jpg" alt="billede">
        <p class="pris" {pris}>
        <div class="text">
            <p class="overskrift" {overskrift}>
            <p class="beskrivelse" {beskrivelse}>
        </div>
        <div>
            <p class="status" {status}>
            <p class="link" {link}>
        </div>
           